
<ion-content [fullscreen]="true">
<div class="auth-container">
  <div class="auth-title-container">
    <img src="assets/icon/logo.svg" alt="logo" loading="lazy">
    <p class="auth-title">LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA</p>
  </div>
  <div  class="auth-button-container">
    <ion-button shape="round" color="primary" expand="full" class="ion-margin-bottom" (click)="handleGoToRegister()">REGÍSTRATE</ion-button>
    <ion-button shape="round" color="secondary" expand="full" >INGRESA</ion-button>
  </div>
</div>
</ion-content>
