
.auth-container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding: 32px 24px;

    .auth-title-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        text-align: center;

        .auth-title{
            font-weight: 600;
            color: #1EEA00;
            max-width: 370px;
            margin-top: 40px;
            font-size: 18px;
        }
    }
}