
.modal-container{
    padding: 24px;
    text-align: center;

    .modal-title{
        font-size: 20px;
        margin-top: 32px;
        color: #004B40;
        font-weight: 600;
    }

    .modal-message{
        color: #212121;
    }

    .modal-button-container{
        margin-top: 32px;
    }
    
}